:root {
  --color-primary: #93c2db;
  --color-primary-alt: #ff8ae2;
  --color-secondary: white;
  --color-tertiary: #3385ff;
  --color-background: #0d304e;
  --color-background-dark: #072540;
  --color-text: #93c2db;
  --color-light: #fff;
  --color-anchor: #93c2db;
  --font-family: "Inter", sans-serif;
}

#small {
  display: inline;
}

body {
  background-color: var(--color-background-dark);
}
h2 {
  margin: 0;
  padding: 0;
  color: var(--color-background-dark);
}
a {
  text-decoration: none;
  color: var(--color-primary-alt);
}
p {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}

label {
  color: var(--color-primary);
  font-size: large;
}

select {
  font-size: large;
}
.main-container {
  margin-top: 1em;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-template-rows: repeat(15, 160px);
  gap: 2em 2em;
  border: solid var(--color-primary-alt);
  background-color: var(--color-background);
  /* grid-auto-rows: 100px; */
}
.item {
  color: var(--color-tertiary);
  padding: 1em;
  filter: drop-shadow(0.25em 0.25em 1px var(--color-tertiary));
}
.item-1 {
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.item-2 {
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.item-3 {
  background-color: var(--color-primary);
  grid-area: 2 / 1 / 3 / 3;
}
.item-4 {
  background-color: var(--color-primary);
  grid-area: 5 / 1 / 6 / 3;
}
.item-5 {
  background-color: var(--color-primary);
  grid-area: 8 / 1 / 9 / 3;
}
.item-6 {
  background-color: var(--color-primary);
  grid-area: 11 / 1 / 12 / 3;
}
.img-1 {
  grid-area: 3 / 1 / 3 / 5;
  background-color: none;
  padding: 0;
  filter: none;
}
.img-2 {
  grid-area: 9 / 1 / 11 / 3;
  padding: 0;
  filter: none;
}
.img-3 {
  grid-area: 6 / 1 / 8 / 3;
  padding: 0;
  filter: none;
}
.img-4 {
  grid-area: 12 / 1 / 14 / 3;
  padding: 0;
  filter: none;
}
.video {
  grid-area: 14 / 1 / 16 / 3;
  padding: 0;
  filter: none;
}
.item > img {
  height: 330px;
  width: 340px;
  background-color: none;
  padding: 0;
  filter: none;
}
iframe {
  height: 330px;
  width: 330px;
}

nav {
  display: none;
}
