:root {
  --color-primary: #93c2db;
  --color-primary-alt: #ff8ae2;
  --color-secondary: white;
  --color-tertiary: #3385ff;
  --color-background: #0d304e;
  --color-background-dark: #072540;
  --color-text: #93c2db;
  --color-light: #fff;
  --color-anchor: #93c2db;
  --font-family: "Inter", sans-serif;
}

* {
  font-family: var(--font-family);
}

@media screen and (min-width: 1024px) {
  nav {
    display: inline;
    background-color: var(--color-background);
    border: solid var(--color-primary-alt);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;
  }
  body {
    background-color: var(--color-background-dark);
  }

  h2 {
    margin: 0;
    padding: 0;
    color: var(--color-background-dark);
  }

  a {
    text-decoration: none;
    color: var(--color-primary-alt);
  }
  p {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
  }
  .main-container {
    margin-top: 1em;
    padding: 2em 2em 5em 2em;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, 150px);
    gap: 1em 3em;
    border: solid var(--color-primary-alt);
    background-color: var(--color-background);
    /* grid-auto-rows: 100px; */
  }
  .item {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    padding: 1em;
    filter: drop-shadow(0.25em 0.25em 1px var(--color-tertiary));
  }
  .item-1 {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }
  .item-2 {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
  }
  .item-3 {
    grid-area: 2 / 1 / 3 / 3;
  }
  .item-4 {
    grid-area: 3 / 1 / 4 / 3;
  }
  .item-5 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .item-6 {
    grid-area: 5 / 1 / 6 / 3;
  }
  .img-1 {
    grid-area: 1 / 3 / 3 / 5;
    background-color: var(--color-background-dark);
    padding: 0;
    filter: none;
  }
  .img-2 {
    grid-area: 1 / 5 / 3 / 7;
    background-color: var(--color-background-dark);
    padding: 0;
    filter: none;
  }
  .img-3 {
    grid-area: 3 / 3 / 5 / 5;
    background-color: var(--color-background-dark);
    padding: 0;
    filter: none;
  }
  .img-4 {
    grid-area: 3 / 5 / 5 / 7;
    background-color: var(--color-background-dark);
    padding: 0;
    filter: none;
  }
  .video {
    grid-area: 5 / 4 / 6 / 6;
    background-color: var(--color-background-dark);
    padding: 0;
    filter: none;
  }
  iframe {
    height: 220px;
    width: 375px;
  }
  .item > img {
    height: 310px;
    width: 375px;
  }
  #small {
    display: none;
  }
}
