.main-container {
  border: solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.class-names {
  padding: 0 0.5em;
  border: solid black;
}
.CN {
  border-bottom: solid black;
  color: gray;
}
.I {
  background-color: lightskyblue;
}

.check-box {
  display: flex;
  flex-direction: row;
}
